<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>Weather API</h2>
        <a href="https://weatherstack.com/" id="api">weatherstack</a>
        <h2>Geocoding API</h2>
        <a href="https://www.mapbox.com/" id="api">mapbox</a>
    </div>
    
</body>
</html>